@model IEnumerable<PlataformaEDUGEP.Models.FileAuditViewModel>

<table class="table mt-3 table-bordered custom-black-border">
    <thead class="table-primary">
        <tr>
            <th class="text-center">Utilizador</th>
            <th class="text-center">Ação</th>
            <th class="text-center">Título do Arquivo</th>
            <th class="text-center">Nome da Pasta</th>
            <th class="text-center">Data e Hora</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td class="text-center">@log.UserName</td>
                <td class="text-center">@log.ActionType</td>
                <td class="text-center">@log.StoredFileTitle</td>
                <td class="text-center">@log.FolderName</td>
                <td class="text-center">@log.Timestamp.ToString("g")</td> <!-- Using "g" for general date/time pattern (short time). -->
            </tr>
        }
    </tbody>
</table>
