@model IEnumerable<PlataformaEDUGEP.Models.FolderAuditViewModel>

@{
    ViewData["Title"] = "Audit Log";
}

<h2>Audit Log</h2>

@{
    var currentFilterUser = ViewData["CurrentFilterUser"]?.ToString();
    var currentFilterAction = ViewData["CurrentFilterAction"]?.ToString();
    var currentFilterFolderName = ViewData["CurrentFilterFolderName"]?.ToString();
    var currentSort = ViewData["CurrentSort"]?.ToString();
}

<form class="my-2 my-lg-0">
    <div class="d-flex flex-row">
        <input class="form-control mr-2" type="search" oninput="updateAuditLog()" placeholder="Utilizador" aria-label="Search User" name="searchUser" value="@currentFilterUser">
        <input class="form-control mr-2" type="search" oninput="updateAuditLog()" placeholder="Tipo de ação" aria-label="Search Action" name="searchAction" value="@currentFilterAction">
        <input class="form-control mr-2" type="search" oninput="updateAuditLog()" placeholder="Nome da Pasta" aria-label="Search Folder Name" name="searchFolderName" value="@currentFilterFolderName">
    </div>
</form>


<div class="mt-2 d-flex align-items-center">
    <button id="clearFiltersButton" onclick="clearFilters()" class="btn btn-secondary mr-2" style="display: none;">Limpar filtros</button>
    <b class="ms-lg-2">Ordenar:</b>
    <a asp-action="AuditLog" asp-route-sortOrder="@(currentSort == "time_asc" ? "time_desc" : "time_asc")" class="ms-lg-2" >
        Hora
        <i class="fas @(currentSort == "time_asc" ? "fa-arrow-up" : "fa-arrow-down")"></i>
    </a>

    <form asp-action="ClearAuditLog" asp-controller="Folders" method="post" class="ms-lg-3">
        @Html.AntiForgeryToken()
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
            Resetar registo de ocorrências
        </button>
    </form>

</div>

<div id="audit-log-table">
    @Html.Partial("_AuditLogTablePartial", Model)
</div>

<!-- Delete Audit Log Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFolderModalLabel">Apagar Registo de Auditoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja apagar todo o registo de ocorrências? Esta ação não pode ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="clearAuditLog()">Apagar Tudo</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function clearFilters() {
            $("input[name='searchUser']").val('');
            $("input[name='searchAction']").val('');
            $("input[name='searchFolderName']").val('');
            $("#clearFiltersButton").hide(); // Hide the "Limpar filtros" button
            updateAuditLog('', '', ''); // Call with empty values to reset
        }

        function updateAuditLog(searchUser = null, searchAction = null, searchFolderName = null) {
            searchUser = searchUser !== null ? searchUser : $("input[name='searchUser']").val();
            searchAction = searchAction !== null ? searchAction : $("input[name='searchAction']").val();
            searchFolderName = searchFolderName !== null ? searchFolderName : $("input[name='searchFolderName']").val();

            // Determine if any search input has a value
            if (searchUser.length > 0 || searchAction.length > 0 || searchFolderName.length > 0) {
                $("#clearFiltersButton").show(); // Show the "Limpar filtros" button
            } else {
                $("#clearFiltersButton").hide(); // Hide the "Limpar filtros" button
            }

            // Perform the AJAX request
            $.get('@Url.Action("AuditLog", "Folders")', { searchUser: searchUser, searchAction: searchAction, searchFolderName: searchFolderName }, function (data) {
                $('#audit-log-table').html(data);
            });
        }

        function clearAuditLog() {
            if (!confirm('Tem a certeza que deseja apagar todo o registo de auditoria? Esta ação não pode ser desfeita.')) {
                return; // Exit if the user cancels
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("ClearAuditLog", "Folders")',
                beforeSend: function (xhr) {
                    var token = $('input[name="__RequestVerificationToken"]').val(); // Ensure you are fetching the token correctly.
                    xhr.setRequestHeader("RequestVerificationToken", token); // Set the token in the request header.
                },
                success: function (response) {
                    $('#confirmDeleteModal').modal('hide');
                    alert("Registo de auditoria apagado com sucesso."); // Notify user
                    location.reload(); // Reload the page to reflect changes
                },
                error: function (xhr, status, error) {
                    alert("Erro ao apagar registo de auditoria.");
                }
            });
        }
    </script>

}