@model PlataformaEDUGEP.Models.Folder

@{
    ViewData["Title"] = "Apagar pasta";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h4 class="text-center">
                <a href="@Url.Action("Index")" class="btn btn-link"><i class="fas fa-arrow-left"></i></a>
                Apagar pasta
            </h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 text-end">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-10 text-start">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-2 text-end">@Html.DisplayNameFor(model => model.CreationDate)</dt>
                <dd class="col-sm-10 text-start">@Html.DisplayFor(model => model.CreationDate)</dd>

                <dt class="col-sm-2 text-end">@Html.DisplayNameFor(model => model.ModificationDate)</dt>
                <dd class="col-sm-10 text-start">@Html.DisplayFor(model => model.ModificationDate)</dd>
            </dl>

            <div class="text-center">
                <button class="btn btn-danger" type="button" id="delete-folder-btn">Apagar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Ação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja apagar esta pasta? Esta ação não pode ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form asp-action="Delete" method="post" class="d-inline">
                    <input type="hidden" asp-for="FolderId" />
                    <button type="submit" class="btn btn-danger">Apagar Pasta</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('delete-folder-btn').addEventListener('click', function () {
            var deleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
            deleteModal.show();
        });
    </script>
}
